body {
  color:#F2F2F2;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #F15A24 , #FF7900,#FF9C27);
  display: block;
  font-size: 21px;
  font-weight:300;
  padding: 1% 0%;
}

header > p{
  margin:0;
}

.slide.active {
  display: block;
}

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  display:none;
  min-height: 100vh;
  padding: 15% 21%;
}

#carousel-projects > section {
  position: initial;
}

.container-slide, 
ol { 
  margin: 0;
  padding: 0;
}

.title-slide {
  font-size: 20pt;
  font-weight: 400;
}

.title-project {
  font-size: 36pt;
  font-weight: 700;
  line-height: 95%;
}

.description-project {
  font-size: 12pt;
  font-weight: 300;
  text-align: justify;
}

.controls {
  float: left;
  padding: 5% 21% 0% 21%;
}

.controls > button {
  background: #CCCCCC;
  border-radius: 50%;
  border: none;
  min-height:15px;
  margin: 0 15px;
  width: 15px;
}

.controls button.active {
  background:#FF7900;
}

.navbar {
  display: block;
  float: left;   
  margin: 0;
  padding: 9% 0%;
  position: absolute;
}

.navbar a {
  color:#F2F2F2;
  font-size: 0.8rem;
}

/* make sidebar nav vertical */ 
@media (max-width: 768px) {

  .navbar {
    float: none;
    padding: 0%;
    display: flex;
  }
}
